/*tit:Adobe Trens*/
/*auth:Huy Nguyen*/
/*link:git@github.com:nghuyy/Kolor_Themer.git*/
/*note:Adobe Trends Sample https://color.adobe.com/trends*/
/*ver:1.0*/

{
color:#D96523
}

{
color:#D9A282
}

{
color:#D95323
}
{
color:#732D14
}

{
color:#0D0D0D
}
